body {
	font-family:'Open Sans Condensed', sans-serif;
	background-color: white;
	font-size:20px;
}
h1 {
	font-size:36px; padding:30px; text-align:center;
}
h2 {
	font-size:30px; margin:-25px; text-align:center;
}
h3 {
	font-size:30px; margin:30px; 
}
h4 {
	margin:30px; font-family: 'Courgette', cursive;
}
p, {
	margin:30px;
}